app/*
build/*
TermGraph/*
.qmake.stash
Makefile
CMakeUserPresets.json

# Qt user files
*.pro.user*
*.qbs.user*
*.txt.user*

# Python venv
.venv/*

# QML Language Server config files
**/.qmlls.ini
aqtinstall.log
tools/__pycache__/
_codeql_detected_source_root
