#Variables template for build environment

export CONAN_LOGIN_USERNAME_QT="" # Conan qt server username (take from account)
export CONAN_PASSWORD_QT=""       # Conan qt server password (take from account)